*{
	margin: 0;
	padding: 0;
}

nav {
	width: 100%;
	background-color: white;
	position: fixed;
	z-index: 10;
	padding: 20px ;

}
/* PADDINBG MOVED TO NAV, MINIMILAISE CODE
ul {
	padding: 20px ;
}*/

li {
	display: inline-block;
	list-style-type: none;
	margin: 0 20px;
}

nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-family: "arial" , sans-serif;
	font-size: 15px;
}

.banner {
	background-color: #4D00FF;
	padding: 150px 0 100px 0;
	text-align: center;
	color: white;
}

.banner .bantext { /* ALTERNATIVEL TOP20 FOR H1 AND TOP 30 FOR P?*/ /* !!! DO I NEED TOP DOWN ON BOTH ELEMENTS? ONLY NEED FOR HEADER AND P WILL FOLLOW?*/
	/*position: relative;
	top: 30%;     NO LONGER NEEDED - REPLACED WIH PADDING IN BANNER FOR SAME EFFECT*/
}


.banner p {
	font-family: "Glegoo";
	margin: 10px 0;
	padding: 10px 0;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	font-size: 20px;
	line-height: 1.4;
	font-weight: bold;
}

.fontbref {
	padding: 60px 20px;
	text-align: center;
	background-color: #F2F2F2;
}


.fontbref h2 { /* !!!DO NOT NEED FONTBREFTEXT / DIV WITHIN DIV HERE / REMOVE TO SIMPLIFY TEXT*/
	font-size: 25px;
	margin-bottom: 20px;
	font-family: georgia;
}

.fontbref p {
	margin: 10px 0;
	font-size: 18px;
	font-family: helvetica;
}

.fontcard {
	background-color: white;
	text-align: left;
	padding: 20px;
}

.fontcard h2 { /*DELETE REPEAT, MAKE SIMPLY H2*/
	font-size: 25px;
	font-family: georgia;
}

.fontcard p {
	margin: 20px 0;
	font-size: 22px;
	font-family: helvetica;
	font-style: italic;
}

.sample {
	display: inline-block;
	margin: 0 100px 0 50px;
}

.abcbold {
	color: blue;
	font-size: 100px;
	font-weight: bold;
}

.abcreg {
	color: blue;
	font-size: 100px;
}
.abcitalic {
	color: blue;
	font-size: 100px;
	font-style: italic;
}

.garamond span {
	font-family: garamond;
}

.helvetica span {
	font-family: helvetica;
}

.spacemono span {
	font-family: "Space Mono", monospace;
}