* {
	margin: 0;
	padding: 0;
}

header, footer {
	background-color: #ffa500;
	text-align: center;
	color: white;
	padding: 5px;
	font-family: Poppins;
}

h1 {
	font-weight: 500;
	text-transform: uppercase;
	font-size: 28px;
}

.grid {
	padding: 20px 0;
	display: grid;
	grid-template: repeat(3,450px)/ 250px 250px;
	grid-gap:20px;
	align-content: space-between;
	justify-items: center;
	justify-content: center;
	grid-auto-rows: 450px; /*MAKES NEWLY ADDED ROWS 450PX TO MATCH HEIGHT OF OTHERS*/
	grid-auto-flow: column;
}
.recipe {
	box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.5);
	width: 200px;
}

img {
	width: 100%; /*MAKES IMAGE FIT INTO THE CONTAINER */
	height: auto;
}

h2 {
	font-family: poppins;
	font-size: 18px;
	text-transform: uppercase;
	color: #ffa500;
	padding: 5px 0 10px 5px;
	text-align: left;
	letter-spacing: 0.3px
}
.time {
	width: 20px; /*WIDTH REDUCED TO SHRINK CLOCK IMAGE*/
	height: auto;
	padding: 5px 0 0 5px;
}

.mins {
	font-size: 14px;
	letter-spacing: 0.5px; /*BRINGS LETTERS CLOSER TOGETHER*/
	font-weight: 300;
	font-family: poppins;
	display: inline-block;
	position: relative; /*USED TO PUSH UP IN LINE TO LOOK VISUALLY SOUND*/
	bottom: 4px;
}

.description {
	font-size: 14px;
	font-family: poppins;
	border-top: 1px solid black;
	padding: 5px 0 0 5px;
	font-weight: 300;
}

::selection {
	color: white;
	background-color: #ffa500;
}
img::selection {
	background-color: transparent;
}