body {
	background-color: white; 
	font-family: 'raleway', sans-serif;
	color: grey;
}

.topnav ul {
	margin: 0; padding: 0; 
	text-align: center; 
	list-style-type: none;
}

.topnav li {
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px;
}
#logo {
	font-weight: bold;
	color: black;
}

#banner {
	background-image: url(../images/SAM_4718.jpg);
	background-size: cover; /* NEEDED OTHERWISE WILL DISPLAY WITH ORIGNAL DIMENSIONS 400PX+ */
	width: 100%; height: 700px;
	
}

#banner h1 { 
	top: 250px;
	position: relative; /*NEEDED WITH 'TOP' TO BRING ELEMENT DOWN*/
	margin: 0 auto; /*CENTERS ELEMENT*/
	width: 400px; /* MUST DEFINE WIDTH OTHERWISE IT WONT BE CENTRED*/
	color: white;
	font-size: 40px;
	text-align: center;
	border: 3px solid white;
}

#main {
	text-align: center;
}

#main h2 {
	top: 50px;
	position: relative; /*RELATIVE TO LAST ELEMENT + TOP 50PX*/
	margin: 0 auto;
	color: red;
	width: 400px;

}

.author {
	display: inline-block; /*NEEDED TO RETRICT BORDER TO TEXT. P IS BLOCK SO BORDER WILL COVER ENTIRE WIDTH BY DEFAULT*/
	margin: 110px 0px 10px; /*NEEDED OTHERWISE WOULD BE HIDDEN UNDERNEATH H1, FIND OUT WHY*/
	border-top:  1px solid grey;
	border-bottom: 1px solid grey;
}

#main p {
	margin: 0 auto;
	width: 900px;
	margin-top: 60px;
	line-height: 50px;
	font-size: 20px;
}

#main h3 {
	width: 500px;
	margin: 100px auto;
	padding: 50px;
	line-height: 50px;
	color: red;
	border: 1px solid red;
}

#footer {
	margin-top: 50px;
	padding: 50px;
	border: 1px solid grey;
	text-transform: uppercase;
}

#footer a {
	color: white;
	background-color: red;
	text-decoration: none;
	padding: 20px;
	border:1px solid red;
	border-radius: 3px;
	margin: 0px 10px;
}

#footer a:hover {
	background-color: white;
	color: red;}