

.box1 {
	width: 300px;
	height: 200px;
	background-color: blue;
	margin: 10px 0;
	}

.box2 {
	width: 300px;
	height: 200px;
	background-color: green;
	margin: 10px 0;
	float: right;
	}

.box3 {
	width: 300px;
	height: 200px;
	background-color: blue;
	margin: 10px 0;
	}
